<h2 class="m-3">Formulaire</h2>
<form #formCtrl="ngForm" class="m-3 w-50">
    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input name="pseudo" required #pseudoCtrl="ngModel" [(ngModel)]="createColleague.pseudo" type="text" class="form-control" id="pseudo">
        <p class="m-0 p-1 text-warning" *ngIf="pseudoCtrl.dirty && pseudoCtrl.invalid">Pseudo invalide</p>
    </div>
    <div class="form-group">
        <label for="nom">Nom</label>
        <input name="nom" required minlength="2" #nomCtrl="ngModel" [(ngModel)]="createColleague.nom" type="text" class="form-control" id="nom">
        <p class="m-0 p-1 text-warning" *ngIf="nomCtrl.dirty && nomCtrl.invalid">Nom invalide</p>
    </div>
    <div class="form-group">
        <label for="Prenom">Prenom</label>
        <input name="prenom" required  minlength="2" #prenomCtrl="ngModel" [(ngModel)]="createColleague.prenom" type="text" class="form-control" id="prenom">
        <p class="m-0 p-1 text-warning" *ngIf="prenomCtrl.dirty && prenomCtrl.invalid">Prenom invalide</p>
    </div>
    <div class="form-group">
        <label for="photoURL">Photo URL</label>
        <input name="photo" required #photoCtrl="ngModel" [(ngModel)]="createColleague.photo" type="text" class="form-control" id="photoURL">
        <p class="m-0 p-1 text-warning" *ngIf="photoCtrl.dirty && photoCtrl.invalid">URL invalide</p>
    </div>  
    <button [disabled]="formCtrl.invalid" (click)="ajouter()" class="mt-2 btn btn-primary">Ajouter</button>
</form>
