<h2 class="m-3">Formulaire de création de collègue</h2>
<p *ngIf="created" role="alert" class="alert alert-success m-3 w-50">
  Le collègue a été créé avec succès.<br />
  Vous allez être redirigés automatiquement vers la page d'accueil.
</p>
<form [formGroup]="colleagueForm" class="m-3 w-50">
    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input formControlName="pseudo" name="pseudo" type="text" class="form-control" id="pseudo">
        <p class="m-0 p-1 text-danger" *ngIf="pseudoErr">Pseudo invalide</p>
        <p class="m-0 p-1 text-danger" *ngIf="pseudoErr && pseudoErrors && pseudoErrors['pseudoExist']">{{pseudoErrors['pseudoExist']}}</p>
    </div>
    <div class="form-group">
        <label for="last">Nom</label>
        <input formControlName="last" name="last" type="text" class="form-control" id="nom">
        <p class="m-0 p-1 text-danger" *ngIf="nomErr">Le nom doit avoir au moins 2 caractères</p>
        <p class="m-0 p-1 text-danger" *ngIf="firstLastErr && firstLastErrors && firstLastErrors['firstLast']">{{firstLastErrors['firstLast']}}</p>
    </div>
    <div class="form-group">
        <label for="first">Prenom</label>
        <input formControlName="first" name="first" type="text" class="form-control" id="prenom">
        <p class="m-0 p-1 text-danger" *ngIf="prenomErr">Le prenom doit avoir au moins 2 caractères</p>
        <p class="m-0 p-1 text-danger" *ngIf="firstLastErr && firstLastErrors && firstLastErrors['firstLast']">{{firstLastErrors['firstLast']}}</p>
    </div>
    <div class="form-group">
        <label for="photoURL">Photo URL</label>
        <input formControlName="photo" name="photo" type="text" class="form-control" id="photoURL">
        <p class="m-0 p-1 text-danger" *ngIf="photoErr && photoErrors && photoErrors['urlPhoto']">{{photoErrors['urlPhoto']}}</p>
    </div>
    <button [disabled]="colleagueForm.invalid" (click)="ajouter()" class="mt-2 btn btn-primary">Ajouter</button>
</form>
