<h2 class="m-3">Formulaire de création de collègue</h2>
<form class="m-3 w-50">
    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input name="pseudo" type="text" class="form-control" id="pseudo">
    </div>
    <div class="form-group">
        <label for="nom">Nom</label>
        <input name="nom" type="text" class="form-control" id="nom">
    </div>
    <div class="form-group">
        <label for="prenom">Prenom</label>
        <input name="prenom" type="text" class="form-control" id="prenom">
    </div>
    <div class="form-group">
        <label for="photoURL">Photo URL</label>
        <input name="photo" type="text" class="form-control" id="photoURL">
    </div>
    <button class="mt-2 btn btn-primary">Ajouter</button>
</form>
