<div class="d-flex flex-wrap justify-content-center mx-3 my-0 p-1 justify-content-center">
    <pagination-controls id="listColleagues" (pageChange)="p = $event"></pagination-controls>
    <button class="btn btn-md btn-info" (click)="updateListColleague()">Rafraichir la liste</button>
</div>
<div class="d-flex flex-wrap justify-content-center mx-3">
    <tc-colleague *ngFor="let colleague of colleagues | paginate: { id: 'listColleagues', itemsPerPage: 9, currentPage: p }" [colleague] = colleague></tc-colleague>
</div>