<h2 class="m-3">Page de connexion</h2>
<p *ngIf="isError" role="alert" class="alert alert-danger m-3 w-50">
  Les informations de connexion sont incorrectes
</p>
<form class="m-3 w-50">
  <div class="mb-3">
    <label for="pseudo" class="form-label">Pseudo</label>
    <input name="pseudo" required #pseudoCtrl="ngModel" [(ngModel)]="login.pseudo" type="text" class="form-control" id="pseudo">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input name="password" required #passwordCtrl="ngModel" [(ngModel)]="login.password" type="password" class="form-control" id="password">
  </div>
  <button (click)="submit()" class="btn btn-primary">Submit</button>
</form>
