<h1 class="text-center m-2">App Top Colleagues</h1>
<div class="d-flex flex-wrap justify-content-center m-3">
    <tc-colleague [colleague] = colleague></tc-colleague>
    <tc-colleague [colleague] = colleague></tc-colleague>
    <tc-colleague [colleague] = colleague></tc-colleague>
    <tc-colleague [colleague] = colleague></tc-colleague>
    <tc-colleague [colleague] = colleague></tc-colleague>
    <tc-colleague [colleague] = colleague></tc-colleague>
    <tc-colleague [colleague] = colleague></tc-colleague>
    <tc-colleague [colleague] = colleague></tc-colleague>
    <tc-colleague [colleague] = colleague></tc-colleague>
    <tc-colleague [colleague] = colleague></tc-colleague>
    <tc-colleague [colleague] = colleague></tc-colleague>
</div>