<h2>Historique</h2>
<ul class="list-unstyled m-3">
    <li class="d-flex" *ngFor="let colleagueVote of historyVotes">
        <img class="m-1" src="{{colleagueVote.colleague.photo}}" style="height: 6rem; width: 8rem;" alt="">
        <div class="d-flex flex-column justify-content-between m-1">
            <h5 class="m-0">{{colleagueVote.colleague.pseudo}}</h5>
            <p class="m-0">{{colleagueVote.colleague.pseudo}} est
                <ng-container *ngIf="colleagueVote.colleague.score >= 0"> adoré, </ng-container>
                <ng-container *ngIf="colleagueVote.colleague.score < 0"> détesté, </ng-container>
                il a un score de {{colleagueVote.colleague.score | score}}
            </p>
            <button class="btn btn-danger btn-sm" (click)="remove(colleagueVote)">Supprimer</button>
        </div>
    </li>
</ul>
